/shakespeare-0.10.0.tar.gz
/shakespeare-0.10.1.1.tar.gz
/shakespeare-0.10.2.tar.gz
/shakespeare-0.10.3.1.tar.gz
/shakespeare-0.11.tar.gz
/shakespeare-1.0.0.1.tar.gz
/shakespeare-1.0.0.2.tar.gz
/shakespeare-1.0.1.4.tar.gz
/shakespeare-1.0.3.1.tar.gz
/shakespeare-1.0.4.tar.gz
/shakespeare-1.0.5.tar.gz
/shakespeare-1.0.5.1.tar.gz
/shakespeare-1.2.1.1.tar.gz
/shakespeare-2.0.1.1.tar.gz
/shakespeare-2.0.9.tar.gz
/shakespeare-2.0.12.1.tar.gz
/shakespeare-2.0.14.1.tar.gz
/shakespeare-2.0.15.tar.gz
/shakespeare-2.0.20.tar.gz
/shakespeare-2.0.24.tar.gz
/shakespeare-2.0.24.1.tar.gz
/shakespeare-2.0.25.tar.gz
/shakespeare-2.0.26.tar.gz
/shakespeare-2.0.30.tar.gz
/shakespeare-2.1.0.tar.gz
